html,body{
    min-height: 100%;
}

body{
    text-align: center;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#wrapper{
    width: 960px;
    height: 300px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    align-items: center;
}

#sub-wrapper{
    width: 100%;
    margin-top: 320px;
    margin-left: 70px;
}

#start{
    background-color: rgba(0, 0, 0, .6);
    height: 50px;
    width: 150px;
    color: white;
    border: 3px solid grey;
}

button {
    display: block;
    width: 40%;
    height: 20%;
    margin: 0 auto;
    font-size: 34px;
    cursor: pointer;
    background: transparent;
    border: 0;
}

h2 {
    margin-bottom: 25px;
    font-size: 30px;
}

h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

button:hover {
    border: 2px solid black;
}